.spacer {
    width: 90%;
    margin: 0 auto;
    border: 1px;
    background-color: white;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* https://www.w3schools.com/cssref/sel_nth-child.asp */
.row {
    display: grid;
    grid-template-columns: repeat(4, 24%) 10%;
}



