.btn.btn--fancy{
    background: rgba(153, 19, 153, 0.562);
    font-size: large;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 0;
    top: 400px
  }
  
  .btn--fancy:hover {
    cursor: pointer;
    background: rgba(179, 23, 179, 0.541);
  }

  .btn-inner {
    display: flex;
    align-items: center;
  } 