.itemFilters-wrapper{
    position: sticky;
    top: 200px; /* required */
    margin: 0 auto;
    margin-left: 25px;
}

.itemFilters-wrapper > div{
    margin-right: 25px;
}

.items-found{
    color: white;
}